[submodule "gym-pybullet-drones"]
	path = gym-pybullet-drones
	url = https://github.com/makramchahine/gym-pybullet-drones
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/alexquach/gaussian-splatting
[submodule "drone_causality"]
	path = drone_causality
	url = https://github.com/makramchahine/drone_causality
